* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Index page styling from line 6 - 105 */
.sun {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background: rgb(255, 81, 0);
    position: absolute;
    box-shadow: 0 0 75px rgba(255, 141, 0, 1);
}

.universe {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/galaxy.jpg);
}

.earth {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: url(../assets/earth.jpg);
    position: relative;
    animation: earth-orbit 7s linear infinite;
}

.earth:after {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    background: url(../assets/full-moon.webp);
    border: none;
    background-size: cover;
    animation: moon-orbit 3.5s linear infinite;
}

@keyframes earth-orbit {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@keyframes moon-orbit {
    from {
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(75px) rotate(-360deg);
    }
}

#Index-title-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;


}

#Index-title {
    color: white;
    font-size: large;
}

.index-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 60%;
    z-index: 2;


}

.index-button {
    margin: 0 10px;
    padding: 10px;
    background-color: rgb(255, 81, 0);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.index-button:hover {
    background: linear-gradient(to bottom, rgb(255, 81, 0), #fe0000);
}

/* Here starts Visit us page from line 110 -  */

/* Header and navigation */
#menu-bar-container {
    background-image: url(../assets/universe.jpg);
    height: 80px;
    top: 0;
    position: sticky;
    justify-content: center;
    padding-top: 2vw;

}

.menu-bar {
    max-width: 360px;
    margin: 0;
    position: relative;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.menu-bar h1 {
    margin: 5px 0; /* Add margin between the elements if needed */
    color: white;
}



.hamburger-icon {
    margin-right: 10px;
    width: 100%;

}

.hero-banner-container {
    width: 100vw;
    padding: 2vw;
}


/*end of header styles*/

/* Exhinition page styles here*/

.main-layout {
    padding: 2.5rem 1.5rem 7.5rem;
    width: 100%;
    position: static;
}
.main-container {
    gap: 7.5rem ;
    position: relative;
    width: 100%;
    padding: 5px;
    max-width: 69.375rem;
    display: flex;
    margin: auto;
    flex-direction: column;
}

/* footer styles */
.footer {
    padding: 0 1.5rem 2.375rem;
    background-color: #6FE6A6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}

.footer .footer-container {
    width: 100%;
    max-width: 69.375rem;
}

.footer .footer-container .footer-content {
    width: 100%;
    position: relative;
}

.footer .footer-container .footer-content .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.footer-icons-section {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}