* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sun {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background: rgb(255, 81, 0);
    position: absolute;
    box-shadow: 0 0 75px rgba(255, 141, 0, 1);
}

.universe {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/Users/olanormann/dev/science-center-CA/assets/galaxy.jpg);
}

.earth {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: url(/Users/olanormann/dev/science-center-CA/assets/earth.jpg);
    position: relative;
    animation: earth-orbit 7s linear infinite;
}

.earth:after {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    background: url(/Users/olanormann/dev/science-center-CA/assets/full-moon.webp);
    border: none;
    background-size: cover;
    animation: moon-orbit 3.5s linear infinite;
}

@keyframes earth-orbit {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@keyframes moon-orbit {
    from {
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(75px) rotate(-360deg);
    }
}
#Index-title-box {
    position: absolute;
    top: 10%; /* Adjust the percentage value for spacing from the top */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px; /* Example padding */

}

#Index-title {
    color: white;
    font-size: large;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 60%;
    /* Adjust this value to control the vertical position */
    z-index: 2;
    /* Ensure the buttons are above the planets */

}

.button {
    margin: 0 10px;
    padding: 10px;
    background-color: rgb(255, 81, 0);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 0.3s ease; /* Added transition property */
}

.button:hover {
    box-shadow: 0 0 0 2em transparent;
}


